#mediaquery { width: 150px; }
#mediaquery:after { content: "desktop"; }

/**************************************************************************************************
**
** Breakpoint Specific Variables
**
***************************************************************************************************/

$browserWidth: 0;
$pageWidth:    0;
$pageMargin:   ((((($browserWidth - $pageWidth) / 2) / $browserWidth) * 100) * 1%);
$contentWidth: 0;

/**************************************************************************************************
**
** Base
**
***************************************************************************************************/

.inner { @include width($pageWidth, $browserWidth); }
.extended { margin-right: -$pageMargin; margin-left: -$pageMargin; }

/**************************************************************************************************
**
** Grid System
**
***************************************************************************************************/

/**************************************************************************************************
**
** Header
**
***************************************************************************************************/

/**************************************************************************************************
**
** Content
**
***************************************************************************************************/

/**************************************************************************************************
**
** Footer
**
***************************************************************************************************/