#mediaquery {
	position: absolute;
	top: -50px;
	-webkit-transition: width .001s;
	-moz-transition: width .001s;
	-ms-transition: width .001s;
	-o-transition: width .001s;
	transition: width .001s;
	visibility: hidden;
}

/**************************************************************************************************
**
** Base
**
***************************************************************************************************/

/**************************************************************************************************
**
** Grid System
**
***************************************************************************************************/

/**************************************************************************************************
**
** Header
**
***************************************************************************************************/

/**************************************************************************************************
**
** Content
**
***************************************************************************************************/

/**************************************************************************************************
**
** Footer
**
***************************************************************************************************/
